a(href="/about").
  In this case the About depends on the Dev. of the website. Yevese Christopher Aondona, who is the Dev. of this website started his online Dev. school with [fcc.org].
  He is a developer With Bsc.Mathematic, and this website is used as his personal portfolio. While he deploy this website he started a mega website with three client website request on ground. Benefits: nana_sv production base organisation [npbo]   with always looksup to finish you website on time with clean and weel arrange resourceful code.. welcome to [nana_svproductionbaseorganisation(npbo)].